<nz-card class="seguimiento-container">
  <div class="seguimiento-header">
    <h5 nz-typography class="section-title">SEGUIMIENTO DE SOLICITUDES</h5>
      @if(canViewAllRequests()){
        <div class="seguimiento-filters">
          <nz-space>
            <nz-select
              *nzSpaceItem
              nzPlaceHolder="Filtrar por estado"
              [ngModel]="filterStatusWorkflow()"
              (ngModelChange)="onWorkflowStatusChange($event)"
              nzAllowClear
            >
              <nz-option nzValue="enviado" nzLabel="Enviado"></nz-option>
              <nz-option nzValue="en revision" nzLabel="En revisón"></nz-option>
            </nz-select>

            <nz-select
              *nzSpaceItem
              nzPlaceHolder="Filtrar por estado"
              [ngModel]="filterEstado()"
              (ngModelChange)="onEstadoChange($event)"
              nzAllowClear
            >
              <nz-option nzValue="REGISTRADO" nzLabel="Registrado"></nz-option>
              <nz-option nzValue="APROBADO" nzLabel="Aprobado"></nz-option>
              <nz-option nzValue="OBSERVADO" nzLabel="Observado"></nz-option>
              <nz-option nzValue="ANULADO" nzLabel="Anulado"></nz-option>
              <nz-option nzValue="RECHAZADO" nzLabel="Rechazado"></nz-option>
            </nz-select>

            <nz-date-picker
              *nzSpaceItem
              nzPlaceHolder="Filtrar por fecha"
              [ngModel]="filterFecha()"
              (ngModelChange)="onFechaChange($event)"
              nzStyle="width: 200px"
            ></nz-date-picker>
          </nz-space>
          <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
            <input
              type="text"
              nz-input
              placeholder="Buscar por unidad educativa o SIE"
              [ngModel]="searchValue()"
              (ngModelChange)="onSearchChange($event)"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </div>
      }

  </div>

  <nz-tabset>
    <nz-tab nzTitle="Seguimiento Solicitud">
      <nz-table
        #trackingTable
        [nzData]="filteredRegistrations()"
        [nzLoading]="loading"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        nzOuterBordered
        [nzSize]="'small'"
        nzBordered
        nzShowSizeChanger
        class="custom-table"
        [nzScroll]="{ y: '350px' }"
      >
        <thead>
          <tr class="header-row">
            <th class="header-cell" nzWidth="40px">N°</th>
            <th class="header-cell" nzWidth="100px">Acciones</th>
            <th class="header-cell" nzWidth="200px">Unidad Educativa</th>
            <th class="header-cell" >SIE</th>
            <th class="header-cell" >Responsable</th>
            <th class="header-cell" nzWidth="120px">Estado Flujo</th>
            <th class="header-cell" >Rol</th>
            <th class="header-cell" >Estado Solicitud</th>
            <th class="header-cell" >Última Actualización</th>
            <th class="header-cell" >Observación</th>
          </tr>
        </thead>
        <tbody>
          @for(request of trackingTable.data; track request.id; let i = $index; let first = $first) {
            <tr>
              <td>{{ i + 1}}</td>
              <td>
                <div class="acciones-cell">
                  @if(first && request.workflowState === 'ENVIADO' && request.registrationStatus === 'REGISTRADO') {
                    @if(selectedRole?.role?.id === 9 && canUpdateRequest()) {
                      <button
                        nz-button
                        nzType="link"
                        nzSize="small"
                        (click)="seeDetail(request)"
                        nz-tooltip="Ver detalle"
                      >
                        <i nz-icon nzType="edit"></i>
                      </button>
                    }
                    @if(canDownloadRequest(request)) {
                      <button
                        nz-button
                        nzType="link"
                        nzSize="small"
                        (click)="descargarDocumentos(request)"
                        nz-tooltip="Descargar solicitud"
                      >
                        <i nz-icon nzType="download"></i>
                      </button>
                    }
                    @if(canAnnularRequest()) {
                      <button
                        nz-button
                        nzType="link"
                        nzSize="small"
                        nzDanger
                        (click)="cancelRequest(request, message)"
                        nz-tooltip="Cancelar solicitud"
                      >
                        <i nz-icon nzType="close-circle"></i>
                      </button>
                      <ng-template #message>
                        <nz-alert nzType="warning" [nzMessage]="cancellationMessage"></nz-alert>
                      </ng-template>
                    }
                  }
                </div>
              </td>
              <td>{{ request.educationalInstitutionName }}</td>
              <td>{{ request.educationalInstitutionId }}</td>
              <td>{{ request.userName }}</td>
              <td>
                <nz-tag
                  [nzColor]="request.workflowState === 'ENVIADO' ? 'success' : 'warning'"
                >
                  {{ request.workflowState }}
                </nz-tag>
              </td>
              <td>{{ request.rol }}</td>
              <td>
                <nz-tag [nzColor]="request.registrationStatus === RegistrationStatus.APPROVED ? 'success' :
                  (request.registrationStatus === RegistrationStatus.REJECTED || request.registrationStatus === RegistrationStatus.CANCELED) ? 'error' :
                  request.registrationStatus === RegistrationStatus.OBSERVED ? 'warning' : 'processing'"
                >
                  {{ request.registrationStatus }}
                </nz-tag>
              </td>
              <td>{{ request.updatedAt | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ request.observation || 'Sin observación' }}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    </nz-tab>

    @if(!canViewAllRequests()) {
      <nz-tab nzTitle="Historial">
        <div class="historial-scroll">
          <nz-timeline>
            <nz-timeline-item *ngFor="let evento of historial">
              <p>Realizado en: {{ evento.updatedAt | date:'dd/MM/yyyy HH:mm' }}</p>
              <p style="margin-bottom: 5px;">Estado del flujo: <nz-tag nzColor="success"> {{ evento.registrationStatus }}</nz-tag></p>
              <p style="margin-bottom: 5px;">Estado de la postulación: <nz-tag>{{ evento.workflowState }} por: {{ evento.userName }}</nz-tag></p>
              <p class="comentario">
                <i nz-icon nzType="message" nzTheme="fill"></i> {{ evento.observation  || 'Sin observación'}}
              </p>
            </nz-timeline-item>
          </nz-timeline>
        </div>
      </nz-tab>
    }
  </nz-tabset>

  <!-- Modal de edicón -->
  <edit-modal
    [(isVisible)]="isVisibleModal"
    [title]="'hola mundo'"
    (ok)="handleOk()"
    (cancel)="handleCancel()"
    [sie]="institutionId"
    [currentRole]="selectedRole"
    [request]="solicitudSeleccionada"
    [canUpdated]="canUpdateRequest()"
  ></edit-modal>

</nz-card>