<nz-card  class="bandeja-container">
  <div class="bandeja-header">
    <h5 nz-typography class="section-title" >BANDEJAS ALTA DEMANDA</h5>
    <div class="bandeja-tabs">
      <nz-radio-group [(ngModel)]="activeTray" (ngModelChange)="changeInbox($event)">
        <label nz-radio-button nzValue="entrada">Bandeja de Entrada</label>
        <label nz-radio-button nzValue="recepcion">Bandeja de Recepción</label>
        <!-- <label nz-radio-button nzValue="salida">Bandeja de Salida</label> -->
      </nz-radio-group>
    </div>
  </div>

  <div class="bandeja-filters">
    <nz-input-group nzSearch  [nzSuffix]="suffixIconButton">
      <input
        type="text"
        nz-input
        placeholder="Buscar por nombre o SIE"
        [(ngModel)]="searchValue"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>

  <nz-space>
      <nz-tag
        *nzSpaceItem
        nzMode="checkable"
        [nzChecked]="filterEstado.length > 0"
        (nzCheckedChange)="filterEstado = $event ? ['Activo'] : []"
      >
        Filtro Estado
      </nz-tag>

      <nz-tag
        *nzSpaceItem
        nzMode="checkable"
        [nzChecked]="filterEstadoFlujo.length > 0"
        (nzCheckedChange)="filterEstadoFlujo = $event ? ['Aprobado'] : []"
      >
        Filtro Flujo
      </nz-tag>
  </nz-space>
  </div>

  <nz-table
    #filterTable
    [nzData]="highDemands"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzOuterBordered
    [nzSize]="'small'"
    nzBordered
    nzShowSizeChanger
    class="custom-table"
  >
    <thead>
      <tr class="header-row">
        <th class="header-cell" >Unidad Educativa</th>
        <th class="header-cell" >SIE</th>
        <th class="header-cell" >Usuario</th>
        <th class="header-cell" >Rol</th>
        <th class="header-cell" >Detalle</th>
        <th class="header-cell" >Estado inscripcion</th>
        <th class="header-cell" >Estado Flujo</th>
        <th class="header-cell" >Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(data of filterTable.data; track data) {
      <tr >
        <td>{{ data.institution.name }}</td>
        <td>{{ data.institution.id }}</td>
        <td>{{ data.user.username }}</td>
        <td>{{ data.rol.name }}</td>
        <td>
          <button
            nz-button
            nzType="link"
            nzSize="small"
            (click)="verCursos(data)"
          >
            {{ data.course }} cursos
          </button>
        </td>
        <td>
          <nz-tag
            [nzColor]="data.registrationStatus === 'APROBADO' ? 'success' : data.registrationStatus === 'RECHAZADO' ? 'error' : 'warning'">
            {{ data.registrationStatus }}
          </nz-tag>
        </td>
        <td>
          <nz-tag
            [nzColor]="data.workflowState.id === 1 ? 'success' : 'warning'"
          >
            {{ data.workflowState.name }}
          </nz-tag>
        </td>
        <td>
          <nz-space nzSize="small">
            @if(data.inbox === false) {
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                nzSize="small"
                nzShape="circle"
                (click)="receive(data)"
                nz-tooltip="Recepcionar"
              >
                <i nz-icon nzType="inbox"></i>
              </button>
            } @else {
              @if(rolId === 48) {
                <button
                  *nzSpaceItem
                  nz-button
                  nzSize="small"
                  nzType="primary"
                  nzShape="circle"
                  (click)="finalize(data)"
                  nz-tooltip="Registrar"
                  [disabled]="data.registrationStatus === 'RECHAZADO' || data.registrationStatus === 'APROBADO'"
                >
                  <i nz-icon nzType="check" ></i>
                </button>
                <button
                  *nzSpaceItem
                  nz-button
                  nzSize="small"
                  nzType="primary"
                  [nzDanger]="true"
                  nzShape="circle"
                  (click)="rejected(data)"
                  nz-tooltip="Rechazar"
                  [disabled]="data.registrationStatus === 'RECHAZADO' || data.registrationStatus === 'APROBADO'"
                >
                  <i nz-icon nzType="close" ></i>
                </button>
              }
              @for(actionRole of actionRoles; track actionRole.id) {
                <button
                  *nzSpaceItem
                  nz-button
                  nzType="default"
                  nzSize="small"
                  nzShape="circle"
                  (click)="actionRole.action === 'DERIVAR' ? derive(data, actionRole.nextState) : back(data, actionRole.nextState, motivoTpl)"
                  [nz-tooltip]="actionRole.action"
                  [disabled]="data.registrationStatus === 'RECHAZADO' || data.registrationStatus === 'APROBADO'"
                >
                  <i nz-icon [nzType]="actionRole.action === 'DERIVAR' ? 'send' : 'reload'"></i>
                </button>
              }
            }
            <ng-template #motivoTpl>
              <div>
                <label>Ingrese el motivo de la observación:</label>
                <input id="motivoInput" nz-input [(ngModel)]="motivo" />
              </div>
            </ng-template>
          </nz-space>
        </td>
      </tr>
      }

    </tbody>
  </nz-table>
</nz-card>