<nz-card  class="bandeja-container">
  <div class="bandeja-header">
    <h5 nz-typography class="section-title" >BANDEJAS ALTA DEMANDA</h5>
    <div class="bandeja-tabs">
      <nz-radio-group [(ngModel)]="activeBandeja" (ngModelChange)="cambiarBandeja($event)">
        <label nz-radio-button nzValue="entrada">Bandeja de Entrada</label>
        <label nz-radio-button nzValue="recepcion">Bandeja de Recepción</label>
        <label nz-radio-button nzValue="salida">Bandeja de Salida</label>
      </nz-radio-group>
    </div>
  </div>

  <div class="bandeja-filters">
    <nz-input-group nzSearch  [nzSuffix]="suffixIconButton">
      <input
        type="text"
        nz-input
        placeholder="Buscar por nombre o SIE"
        [(ngModel)]="searchValue"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>

  <nz-space>
      <nz-tag
        *nzSpaceItem
        nzMode="checkable"
        [nzChecked]="filterEstado.length > 0"
        (nzCheckedChange)="filterEstado = $event ? ['Activo'] : []"
      >
        Filtro Estado
      </nz-tag>

      <nz-tag
        *nzSpaceItem
        nzMode="checkable"
        [nzChecked]="filterEstadoFlujo.length > 0"
        (nzCheckedChange)="filterEstadoFlujo = $event ? ['Aprobado'] : []"
      >
        Filtro Flujo
      </nz-tag>
  </nz-space>
  </div>

  <nz-table
    #filterTable
    [nzData]="unidadesEducativas"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzOuterBordered
    [nzSize]="'small'"
    nzBordered
    nzShowSizeChanger
    class="custom-table"
  >
    <thead>
      <tr class="header-row">
        <th class="header-cell" >Unidad Educativa</th>
        <th class="header-cell" nzWidth="150px">SIE</th>
        <th class="header-cell" nzWidth="120px">Detalle</th>
        <th class="header-cell" nzWidth="100px">Estado inscripcion</th>
        <th class="header-cell" nzWidth="150px">Estado Flujo</th>
        <th class="header-cell" nzWidth="180px">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(data of filterTable.data; track data) {
      <tr >
        <td>{{ data.nombre }}</td>
        <td>{{ data.sie }}</td>
        <td>
          <button
            nz-button
            nzType="link"
            nzSize="small"
            (click)="verCursos(data)"
          >
            {{ data.cursos }} cursos
          </button>
        </td>
        <td>
          <nz-tag 
            [nzColor]="data.estado === 'Activo' ? 'success' : data.estado === 'Inactivo' ? 'error' : 'warning'">
            {{ data.estado }}
          </nz-tag>
        </td>
        <td>
          <nz-tag 
            [nzColor]="data.estadoFlujo === 'Aprobado' ? 'success' : 
                      data.estadoFlujo === 'Rechazado' ? 'error' : 
                      data.estadoFlujo === 'Observado' ? 'warning' : 'processing'">
            {{ data.estadoFlujo }}
          </nz-tag>
        </td>
        <td>
          <nz-space nzSize="small">
            <button
              *nzSpaceItem
              nz-button
              nzType="primary"
              nzSize="small"
              nzShape="circle"
              (click)="enviar(data)"
              nz-tooltip="Enviar"
            >
              <i nz-icon nzType="send"></i>
            </button>
            <button
              *nzSpaceItem
              nz-button
              nzType="default"
              nzSize="small"
              nzShape="circle"
              (click)="observar(data)"
              nz-tooltip="Observar"
            >
              <i nz-icon nzType="eye"></i>
            </button>
            <button
              *nzSpaceItem
              nz-button
              nzType="default"
              nzSize="small"
              nzShape="circle"
              nzDanger
              (click)="anular(data)"
              nz-tooltip="Anular"
            >
              <i nz-icon nzType="delete"></i>
            </button>
          </nz-space>
        </td>
      </tr>
      }

    </tbody>
  </nz-table>
</nz-card>