// Variables de color
@primary-color: #0D9488;
@primary-light: #14B8A6;
@primary-dark: #045e56;
@text-color: #1E293B;
@text-secondary: #64748B;
@border-color: #E2E8F0;
@background-light: #f8fafc;
@screen-md: 991px;
@screen-sm: 450px;

.access-control-content {
  margin: 24px;
  min-height: calc(100vh - 112px);

  .roles-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
    margin-bottom: 24px;

    .role-card {
      border-radius: 8px;
      border: 1px solid @border-color;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-4px);
        border: 1px solid @primary-color;
      }

      .role-content {
        display: flex;

        .role-icon {
          width: 68px;
          height: 58px;
          border-radius: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 16px;

          i {
            font-size: 20px;
          }
        }

        .role-info {
          .role-title {
            color: @text-secondary;
            margin-bottom: 4px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .quick-actions {
    .section-title {
      color: @text-color;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .actions-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 15px;

      button {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 16px;

        i {
          font-size: 24px;
        }
      }
    }
  }
}

// Estilos responsivos
@media (max-width: @screen-md) {
  .dashboard-content {
    margin: 16px;

    .roles-cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: @screen-sm) {
  .roles-cards {
    grid-template-columns: 1fr !important;
  }
}

.permisos-container {
  margin: 18px;
  border: 1px solid fade(@primary-color, 60%);

  .permisos-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px;
    flex-wrap: wrap;

    nz-input-group {
      flex: 1;
      min-width: 250px;
    }
    nz-space {
      margin-right: auto;
    }
  }
}

.custom-table {
  border: 1px solid fade(@text-color, 25%);

  .header-row {
    background-color: @background-light;

    .header-cell {
      font-weight: 600;
      text-align: center;
      color:@text-color;
      background-color: @border-color;
      border-bottom: 1px solid @border-color;
    }
  }
}