<div class="body">
    <div class="vs-code-background" id="background"></div>
    <div class="grid-overlay"></div>
    <div class="container">
        <header>
            <!-- <img src="banner.png" alt="Logo Ministerio de Educación" class="logo" /> -->
            <h1><i class="fas fa-code"></i>Operativo Alta Demanda</h1>
            <!-- <p class="subtitle">Sistema de preinscripciones y seguimiento</p> -->
        </header>
        <div class="card-grid">
            <div class="card" [class.disabled]="!isPreRegistrationEnabled()">
                <h2>Preinscripción</h2>
                <p>Completa tu proceso de preinscripción para el próximo ciclo escolar</p>
                <div class="card-content">
                    <app-pre-registration />
                    @if(!isPreRegistrationEnabled()) {
                        <div class="overlay">
                            <p>Temporalmente deshabilitado</p>
                        </div>
                    }
                </div>
            </div>
            <div class="card" [class.disabled]="!isFollowUpEnabled()">
                <h2>Seguimiento</h2>
                <p>Consulta el estado de tu preinscripción</p>
                <div class="card-content">
                    <app-follow-up />
                    @if(!isFollowUpEnabled()) {
                        <div class="overlay">
                            <p>Temporalmente deshabilitado</p>
                        </div>
                    }
                </div>
            </div>
            <div class="card">
                <h2>Alta demanda</h2>
                <!-- <p>Inicia sesión</p> -->
                <div class="card-content">
                    <app-login />
                </div>
            </div>
        </div>
        <div class="footer">
            <p>&#64;2025 Ministerio de Educación. Todos los derechos reservados.</p>
        </div>
    </div>
</div>