<div class="animated-background">
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <!-- Añade más partículas según necesites -->
</div>
<div class="layout-container">
  <div class="main-card">
    <nz-card nzHoverable class="centered-card">
      <div nz-row nzJustify="space-between" nzGutter="16" class="sections-row">
        <!-- Sección Pre-inscripciones -->
        <div nz-col nzSpan="8" class="section-card">
          <app-pre-registration />
        </div>
        <!-- Sección Seguimiento -->
        <div nz-col nzSpan="8">
          <app-follow-up />
        </div>
        <!-- Sección Login -->
        <div nz-col nzSpan="8">
          <app-login />
        </div>
      </div>
    </nz-card>
  </div>
</div>