<nz-space nzDirection="vertical" nzSize="large">
  <nz-card class="mb-4" *nzSpaceItem>
    <nz-descriptions
      nzTitle="UNIDAD EDUCATIVA"
      nzLayout="vertical"
      nzSize="small"
      [nzColumn]="4"
    >
      <nz-descriptions-item nzTitle="Nombre" >{{ institution?.name | lowercase }} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="SIE">{{ institution?.id }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Estado">{{ institution?.state | lowercase }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Ambito">{{ institution?.scope | lowercase }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Dependencia">{{ institution?.scope | lowercase }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Dirección" [nzSpan]="2">
        {{ institution?.direction | lowercase }}
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>

  <nz-card *nzSpaceItem>
    <div nz-row [nzGutter]="15">
      <div nz-col [nzSpan]="14">
        <h5 nz-typography class="mb-3">INSCRIPCION DE LA UNIDAD EDUCATIVA</h5>

        <nz-tabset
          nzType="card"
          nzTabPosition="left"
          [(nzSelectedIndex)]="selectedLevelIndex"
          (nzSelectChange)="onLevelChange([$event])"
        >
          @for (level of levels; track level) {
            <nz-tab
              [nzTitle]="level.levelName"
              [nzDisabled]="level.disabled"
            >
              <!-- (nzSelect)="log(['select', level])" -->
              <!-- (nzClick)="log(['click', level])"
              (nzContextmenu)="log(['contextmenu', level])"
              (nzDeselect)="log(['deselect', level])" -->
              <ng-container>
                <nz-tabset
                  nzType="card"
                  nzTabPosition="left"
                  [(nzSelectedIndex)]="selectedGradeIndex"
                  (nzSelectChange)="onGradeChange([$event])"
                >
                  @for(grade of level.grades; track grade) {
                    <nz-tab [nzTitle]="grade.gradeName">
                      <nz-tabset
                        nzType="card"
                        nzTabPosition="left"
                        [(nzSelectedIndex)]="selectedParallelIndex"
                        (nzSelectChange)="onParallelChange([$event])"
                      >
                        @for(parallel of grade.parallels; track parallel) {
                          <nz-tab [nzTitle]="parallel.parallelName">
                            <div style="display: flex; flex-direction: column; align-items: center; gap: 8px;">
                              <label style="text-align: center;">Número de plazas</label>

                              <nz-input-group [nzSuffix]="inputClearTpl" style="width: 120px;">
                                <input
                                  type="text"
                                  nz-input
                                  [(ngModel)]="inputValue"
                                  placeholder="Nro plaza"
                                  style="width: 100%;"
                                >
                              </nz-input-group>

                              <ng-template #inputClearTpl>
                                <nz-icon
                                  *ngIf="inputValue"
                                  class="ant-input-clear-icon"
                                  nzTheme="fill"
                                  nzType="close-circle"
                                  (click)="inputValue = null"
                                ></nz-icon>
                              </ng-template>

                              <button
                                nz-button
                                [nzType]="'primary'" style="align-self: center;"
                                (click)="showConfirmRegistrationQuota()"
                              >
                                REGISTRAR
                              </button>
                            </div>
                          </nz-tab>

                        }
                      </nz-tabset>
                    </nz-tab>
                  }
                </nz-tabset>
              </ng-container>
            </nz-tab>
          }
        </nz-tabset>

      </div>
      <div nz-col [nzSpan]="10" >
        <h5 nz-typography class="mb-3">CURSOS SELECCIONADOS</h5>
        <nz-list class="demo-loadmore-list" [nzLoading]="initLoading">
          @for (item of listCourse; track item) {
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
              <nz-list-item-meta
                [nzDescription]="item.name"
              >
              </nz-list-item-meta>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <nz-checkbox-group
                    [nzOptions]="options"
                    [(ngModel)]="value"
                    (ngModelChange)="updateSingleCheked()"
                  >
                  </nz-checkbox-group>
                </nz-list-item-action>
              </ul>
            </div>
          }
          <div class="loadmore" nz-list-load-more style="display: flex; flex-direction: column;">
            <button
              nz-button
              class="login-form-button login-form-margin"
              [nzType]="'primary'"
              style="align-self: center;"
              (click)="showConfirmRegistrationHighDemand()"
            >CONSOLIDAR</button>
          </div>
        </nz-list>
      </div>
    </div>
  </nz-card>
</nz-space>
