<div class="pre-inscription-container">
  <div class="header-section">
    <h5 nz-typography class="section-title mb-3">PRE INSCRIPCIONES DE ESTUDIANTES</h5>
  </div>

  <nz-table
    #groupingTable
    [nzData]="preRegistrations"
    nzSize="small"
    nzBordered
    class="custom-table hugging-table student-table"
    [nzScroll]="{ y: '450px' }"
  >
    <thead>
      <tr class="header-row">
        <th rowspan="2" class="header-cell student-section" nzWidth="50px">N°</th>
        <th rowspan="2" class="header-cell student-section">Acciones</th>
        <th colspan="6" class="header-cell student-section">Datos del Estudiante</th>
        <th colspan="4" class="header-cell student-section">Datos de la Preinscripción</th>
      </tr>
      <tr class="subheader-row">
        <th class="subheader-cell">Carnet Identidad</th>
        <th class="subheader-cell">Ap. Paterno</th>
        <th class="subheader-cell">Ap. Materno</th>
        <th class="subheader-cell">Nombres</th>
        <th class="subheader-cell">Género</th>
        <th class="subheader-cell">Nivel</th>
        <th class="subheader-cell">Año escolaridad</th>
        <th class="subheader-cell">Fecha registro</th>
        <th class="subheader-cell">Estado</th>
        <th class="subheader-cell expand-cell">Ver Apoderado</th>
      </tr>
    </thead>
    <tbody>
      @for(data of groupingTable.data; track data; let i = $index) {
        <tr class="data-row" [ngClass]="{'row-invalidated': data.state === 'INVALIDADO'}">
          <td class="data-cell number-cell">{{ i+1 }}</td>
          <td class="data-cell actions-cell">
            <div class="action-buttons">
              <button
                nz-button
                nzType="text"
                nzSize="small"
                nzShape="circle"
                class="action-button"
                nz-tooltip
                nzTooltipTitle="Generar PDF"
                (click)="onToogle(data)"
              >
                <span nz-icon nzType="file-pdf" nzTheme="outline" style="color: #0D9488;"></span>
              </button>
            </div>
          </td>
          <td class="data-cell">{{ data.postulant.identityCard ?? 'SIN CARNET'}}</td>
          <td class="data-cell">{{ data.postulant.lastName }}</td>
          <td class="data-cell">{{ data.postulant.mothersLastName }}</td>
          <td class="data-cell">{{ data.postulant.name }}</td>
          <td class="data-cell"><nz-tag [nzColor]="data.postulant.gender === 'M' ? 'blue' : 'pink'">{{ data.postulant.gender }}</nz-tag></td>
          <td class="data-cell">{{ data.highDemandCourse.level.name }}</td>
          <td class="data-cell">{{ data.highDemandCourse.grade.name }}</td>
          <td class="data-cell">{{ data.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
          <td class="data-cell"><nz-tag [nzColor]="data.state === 'INVALIDADO' ? 'red' : 'blue'">{{ data.state }}</nz-tag></td>
          <td [(nzExpand)]="data.expand"  class="action-expand"></td>
        </tr>
        <tr [nzExpand]="data.expand" class="expand-cell">
          <nz-table #innerTable [nzData]="[data.representative]" nzSize="small" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Carnet Identidad</th>
                <th>Ap. Paterno</th>
                <th>Ap. Materno</th>
                <th>Nombres</th>
                <th>Parentesco</th>
              </tr>
            </thead>
            <tbody>
              @for(data of innerTable.data; track data) {
                <tr>
                  <td>{{ data.identityCard }}</td>
                  <td>{{ data.lastName }}</td>
                  <td>{{ data.mothersLastName }}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.nationality}} </td>
                </tr>
              }
            </tbody>
          </nz-table>
        </tr>
      }
    </tbody>
  </nz-table>
  <nz-modal
    [(nzVisible)]="isDocumentVisible"
    nzTitle="Formulario de pre inscripción"
    (nzOnCancel)="closeModal()"
    [nzFooter]="modalFooter"
    [nzWidth]="800"
  >
    <ng-container *nzModalContent>
      <div class="pdf-container" *ngIf="pdfUrl">
        <iframe
          [src]="pdfUrl"
          width="100%"
          height="600px"
          style="border:none;"
        ></iframe>
      </div>
      <div *ngIf="!pdfUrl">Cargando PDF....</div>
    </ng-container>
    <ng-template #modalFooter>
      <button
        nz-button
        nzType="primary"
        [nzDanger]="true"
        (click)="handleCancel()"
        [disabled]="selectedPostulant.state === 'ACEPTADO' || selectedPostulant.state === 'INVALIDADO'"
      >
        <nz-icon nzType="close-circle" /> No válido
      </button>
      <button
        nz-button
        nzType="primary"
        [nzLoading]="false"
        (click)="handleOk()"
        [disabled]="selectedPostulant.state === 'ACEPTADO' || selectedPostulant.state === 'INVALIDADO'"
      >
        <nz-icon nzType="check-circle" nzIconfont="10px"/> Válido
      </button>
    </ng-template>
  </nz-modal>
</div>