<div class="student-selection-container">
  <!-- Título y botones de acción -->
  <div class="header-section">
    <h5 nz-typography class="section-title">BANDEJA DE SELECCIÓN DE ESTUDIANTES</h5>
    <div class="action-buttons">
      <button nz-button nzType="primary" (click)="confirmSelection()" [disabled]="selectedPostulants.length === 0">
        <i nz-icon nzType="check-square"></i> Consolidar Selección ({{selectedPostulants.length}})
      </button>
      <button nz-button nzType="default" (click)="clearFilters()">
        <i nz-icon nzType="redo"></i> Limpiar Filtros
      </button>
    </div>
  </div>

  <!-- Selectores jerárquicos -->
  <div class="selection-steps">
    <div nz-row [nzGutter]="16" class="mb-3">
      <!-- Nivel Educativo -->
      <div nz-col [nzSpan]="10">
        <nz-form-item>
          <nz-form-label><b>Nivel Educativo</b></nz-form-label>
          <nz-form-control>
            <nz-select
              [(ngModel)]="selectedLevel"
              nzPlaceHolder="Seleccionar nivel"
              (ngModelChange)="onLevelChange($event)"
              [nzDisabled]="loading"
              style="width: 350px;"
            >
              @for(level of levels; track level.id) {
                <nz-option [nzValue]="level.id" [nzLabel]="level.name"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Año de Escolaridad -->
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label><b>Año de Escolaridad</b></nz-form-label>
          <nz-form-control>
            <nz-select
              [(ngModel)]="selectedGrade"
              nzPlaceHolder="Seleccionar año"
              (ngModelChange)="onGradeChange($event)"
              [nzDisabled]="!selectedLevel || loading"
              style="width: 200px;"
            >
              @for(grade of availableGrades; track grade.id) {
                <nz-option [nzValue]="grade.id" [nzLabel]="grade.name"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Paralelo -->
      <!-- <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label>Paralelo</nz-form-label>
          <nz-form-control>
            <nz-select
              [(ngModel)]="selectedParallel"
              nzPlaceHolder="Seleccionar paralelo"
              (ngModelChange)="onParallelChange($event)"
              [nzDisabled]="!selectedGrade || loading">
              @for(parallel of availableParallels; track parallel.id) {
                <nz-option [nzValue]="parallel.id" [nzLabel]="parallel.name"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div> -->
    </div>
  </div>

  <!-- Filtros adicionales -->
  <div class="filter-section">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Filtros de Búsqueda">
        <div nz-row [nzGutter]="16">
          <!-- <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label>Código RUDE</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.rudeCode" placeholder="Buscar por RUDE">
              </nz-form-control>
            </nz-form-item>
          </div> -->
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Apellidos</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.lastName" placeholder="Buscar por apellidos" style="width: 300px;">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Nombres</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.firstName" placeholder="Buscar por nombres" style="width: 300px;">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Carnet Identidad</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.idCard" placeholder="Buscar por CI" style="width: 200px;">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="16" class="mt-2">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Criterio</nz-form-label>
              <nz-form-control>
                <nz-select [(ngModel)]="filters.criteria" nzPlaceHolder="Seleccionar criterio" nzAllowClear>
                  @for(criteria of criterias; track criteria.id) {
                    <nz-option [nzValue]="criteria.id" [nzLabel]="criteria.name"></nz-option>
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Justificación</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.justification" placeholder="Buscar por justificación">
              </nz-form-control>
            </nz-form-item>
          </div> -->
        </div>

        <div class="filter-actions">
          <button nz-button nzType="primary" (click)="applyFilters()">
            <i nz-icon nzType="search"></i> Buscar
          </button>
          <button nz-button nzType="default" (click)="clearFilters()" class="ml-2">
            <i nz-icon nzType="close"></i> Limpiar
          </button>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>

  <!-- Tabla de estudiantes -->
  <nz-table
    #postulantTable
    [nzData]="filteredPreRegistrations"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [nzShowPagination]="true"
    class="student-table"
    [nzScroll]="{ y: '420px' }"
    [nzSize]="'small'"
  >
    <thead>
      <tr class="header-row">
        <th class="header-cell" nzWidth="60px">N°</th>
        <th class="header-cell" nzWidth="80px">Acción</th>
        <th class="header-cell" nzWidth="120px">Ap. Paterno</th>
        <th class="header-cell" nzWidth="120px">Ap. Materno</th>
        <th class="header-cell" nzWidth="150px">Nombres</th>
        <th class="header-cell" nzWidth="130px">Carnet Identidad</th>
        <th class="header-cell" nzWidth="120px">Criterio</th>
        <th class="header-cell" nzWidth="100px">Nivel</th>
        <th class="header-cell" nzWidth="140px">Año escolaridad</th>
        <!-- <th class="header-cell" nzWidth="140px">Paralelo</th> -->
        <!-- <th class="header-cell" nzWidth="200px">Justificación</th> -->
      </tr>
    </thead>
    <tbody>
      @for(postulant of postulantTable.data; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>
            <label
              nz-checkbox
              [nzValue]="selectedPostulant?.selected"
              [(ngModel)]="postulant.selected"
              [nzDisabled]="postulant.state === 'ACEPTADO'"
              (ngModelChange)="onToggleStudent($event, postulant)"
            ></label>
              <!-- [(ngModel)]="postulant.selected" -->
              <!-- [ngModel]="postulant.selected" -->
          </td>
          <td>{{ postulant.postulant.lastName }}</td>
          <td>{{ postulant.postulant.mothersLastName }}</td>
          <td>{{ postulant.postulant.name }}</td>
          <td>{{ postulant.postulant.identityCard }}</td>
          <td>
            <nz-tag [nzColor]="getCriteriaColor(postulant.criteria.name)">
              {{ postulant.criteria.name }}
            </nz-tag>
          </td>
          <td>{{ postulant.highDemandCourse.level.name }}</td>
          <td>{{ postulant.highDemandCourse.grade.name }}</td>
          <!-- <td>{{ postulant.highDemandCourse.parallel.name }}</td> -->
          <!-- <td>{{ postulant.justification || 'Sin justificación' }}</td> -->
        </tr>
      }
      @empty {
        <tr>
          <td colspan="11" class="text-center">
            @if (!selectedLevel) {
              <nz-empty nzNotFoundContent="Seleccione un nivel educativo para ver los estudiantes"></nz-empty>
            } @else if (!selectedGrade) {
              <nz-empty nzNotFoundContent="Seleccione un año de escolaridad"></nz-empty>
            } @else {
              <nz-empty nzNotFoundContent="No se encontraron estudiantes para los filtros seleccionados"></nz-empty>
            }
          </td>
        </tr>
      }
    </tbody>
  </nz-table>

  <nz-modal
    [(nzVisible)]="isConfirmVisible"
    nzTitle="Confirmar Selección"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isConfirmLoading"
    [nzOkDisabled]="!criteriaPost || !selectedParallel"
  >
    <ng-container *nzModalContent>
      <p>¿Está seguro que desea seleccionar al estudiante <strong>{{selectedPostulant?.postulant?.name}} {{selectedPostulant?.postulant?.lastName}}</strong> para su inscripción automática en la siguiente gestión?</p>
      <nz-alert
        *ngIf="selectedPostulant"
        nzType="info"
        [nzMessage]="'Curso: ' + selectedPostulant.highDemandCourse.level.name + ' - ' + selectedPostulant.highDemandCourse.grade.name"
        class="mt-2"
        [nzShowIcon]="true"
      ></nz-alert>
      <div class="mt-2">
        <p>Seleccione el criterio de la selección del estudiante: </p>
        <nz-radio-group [(ngModel)]="criteriaPost">
          @for(criteria of criterias; track criteria; let i = $index) {
            <label
              nz-radio
              [nzValue]="criteria"
              nz-popover
            >
              {{criteria.name}}
            </label>
          }
        </nz-radio-group>
      </div>
      <div class="mt-2">
        <nz-alert
          [nzShowIcon]="true"
          nzType="warning"
          nzMessage="Tome en cuenta que el estudiante será inscrito automáticamente en la siguiente gestión en el paralelo que seleccione"
        ></nz-alert>
        <p class="mt-2">Escoja el paralelo para el estudiante: </p>
        <nz-radio-group [(ngModel)]="selectedParallel">
        @for(parallel of availableParallels; track parallel) {
          <label
            nz-radio
            [nzValue]="parallel"
          >
            Paralelo - {{ parallel.name }}
          </label>
        }
        </nz-radio-group>
      </div>
    </ng-container>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isConsolidateVisible"
    nzTitle="Consolidar Selección"
    (nzOnCancel)="handleConsolidateCancel()"
    (nzOnOk)="handleConsolidateOk()"
    [nzOkLoading]="isConsolidateLoading"
    [nzOkText]="'Confirmar (' + selectedPostulants.length + ')'"
  >
    <ng-container *nzModalContent>
      <p>¿Confirmar la selección de {{selectedPostulants.length}} estudiantes?</p>
      <nz-list
        [nzDataSource]="selectedPostulants"
        nzBordered
        nzSize="small"
        class="mt-3"
      >
        @for(postulant of selectedPostulants; track postulant.id) {
          <nz-list-item>
            {{postulant.postulant.name}} {{postulant.postulant.lastName}} ({{postulant.postulant.mothersLastName}})
          </nz-list-item>
        }
      </nz-list>
    </ng-container>
  </nz-modal>
</div>