<div class="student-selection-container">
  <!-- Título y botones de acción -->
  <div class="header-section">
    <h5 nz-typography class="section-title">BANDEJA DE SELECCIÓN DE ESTUDIANTES</h5>
    <div class="action-buttons">
      <button nz-button nzType="primary" (click)="confirmSelection()" [disabled]="selectedPostulants.length === 0">
        <i nz-icon nzType="check-square"></i> Consolidar Selección ({{selectedPostulants.length}})
      </button>
      <button nz-button nzType="default" (click)="clearFilters()">
        <i nz-icon nzType="redo"></i> Limpiar Filtros
      </button>
    </div>
  </div>

  <!-- Filtros -->
  <div class="filter-section">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Filtros de Búsqueda">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Código RUDE</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.rudeCode" placeholder="Buscar por RUDE">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Apellidos</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.lastName" placeholder="Buscar por apellidos">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Nombres</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.firstName" placeholder="Buscar por nombres">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        
        <div nz-row [nzGutter]="16" class="mt-2">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Carnet Identidad</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="filters.idCard" placeholder="Buscar por CI">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Criterio</nz-form-label>
              <nz-form-control>
                <nz-select [(ngModel)]="filters.criteria" nzPlaceHolder="Seleccionar criterio">
                  <nz-option nzValue="CRITERIO_A" nzLabel="Criterio A"></nz-option>
                  <nz-option nzValue="CRITERIO_B" nzLabel="Criterio B"></nz-option>
                  <nz-option nzValue="CRITERIO_C" nzLabel="Criterio C"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>Nivel</nz-form-label>
              <nz-form-control>
                <nz-select [(ngModel)]="filters.level" nzPlaceHolder="Seleccionar nivel">
                  <nz-option nzValue="INICIAL" nzLabel="Inicial"></nz-option>
                  <nz-option nzValue="PRIMARIA" nzLabel="Primaria"></nz-option>
                  <nz-option nzValue="SECUNDARIA" nzLabel="Secundaria"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        
        <div class="filter-actions">
          <button nz-button nzType="primary" (click)="applyFilters()">
            <i nz-icon nzType="search"></i> Buscar
          </button>
          <button nz-button nzType="default" (click)="clearFilters()" class="ml-2">
            <i nz-icon nzType="close"></i> Limpiar
          </button>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>

  <!-- Tabla de estudiantes -->
  <nz-table
    #postulantTable
    [nzData]="filteredPreRegistrations"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [nzShowPagination]="true"
    class="student-table"
    [nzScroll]="{ y: '220px' }"
    [nzSize]="'small'"
  >
    <thead>
      <tr class="header-row">
        <th class="header-cell" nzWidth="60px">N°</th>
        <th class="header-cell" nzWidth="120px">Ap. Paterno</th>
        <th class="header-cell" nzWidth="120px">Ap. Materno</th>
        <th class="header-cell" nzWidth="150px">Nombres</th>
        <th class="header-cell" nzWidth="130px">Carnet Identidad</th>
        <th class="header-cell" nzWidth="120px">Criterio</th>
        <th class="header-cell" nzWidth="100px">Nivel</th>
        <th class="header-cell" nzWidth="140px">Año escolaridad</th>
        <th class="header-cell" nzWidth="140px">Paralelo</th>
        <th class="header-cell" nzWidth="80px">Acción</th>
      </tr>
    </thead>
    <tbody>
      @for(postulant of postulantTable.data; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ postulant.postulant.lastName }}</td>
          <td>{{ postulant.postulant.mothersLastName }}</td>
          <td>{{ postulant.postulant.name }}</td>
          <td>{{ postulant.postulant.identityCard }}</td>
          <td>
            <nz-tag [nzColor]="getCriteriaColor(postulant.criteria.name)">
              {{ postulant.criteria.name }}
            </nz-tag>
          </td>
          <td>{{ postulant.highDemandCourse.level.name }}</td>
          <td>{{ postulant.highDemandCourse.grade.name }}</td>
          <td>{{ postulant.highDemandCourse.parallel.name }}</td>
          <td>
            <label
              nz-checkbox
              [ngModel]="postulant.selected"
              (ngModelChange)="onToggleStudent($event, postulant)"
            ></label>
          </td>
          <!-- <td>
            <button
              nz-button
              nzType="primary"
              nzSize="small"
              (click)="selectStudent(postulant)"
              [nzLoading]="postulant.loading"
            >
              <i nz-icon nzType="check"></i>
            </button>
          </td> -->
        </tr>
      }
    </tbody>
  </nz-table>

  <!-- Modal de confirmación -->
  <nz-modal
    [(nzVisible)]="isConfirmVisible"
    nzTitle="Confirmar Selección"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isConfirmLoading"
  >
    <ng-container *nzModalContent>
      <p>¿Está seguro que desea seleccionar al estudiante <strong>{{selectedPostulant?.postulant?.name}} {{selectedPostulant?.postulant?.lastName}}</strong>?</p>
      <nz-alert
        *ngIf="selectedPostulant"
        nzType="info"
        [nzMessage]="'Curso: ' + selectedPostulant.highDemandCourse.level.name + ' - ' + selectedPostulant.highDemandCourse.grade.name + ' - ' + selectedPostulant.highDemandCourse.parallel.name"
        class="mt-2"
      ></nz-alert>
    </ng-container>
  </nz-modal>

  <!-- Modal de consolidación -->
  <nz-modal
    [(nzVisible)]="isConsolidateVisible"
    nzTitle="Consolidar Selección"
    (nzOnCancel)="handleConsolidateCancel()"
    (nzOnOk)="handleConsolidateOk()"
    [nzOkLoading]="isConsolidateLoading"
    [nzOkText]="'Confirmar (' + selectedPostulants.length + ')'"
  >
    <ng-container *nzModalContent>
      <p>¿Confirmar la selección de {{selectedPostulants.length}} estudiantes?</p>
      <nz-list
        [nzDataSource]="selectedPostulants"
        nzBordered
        nzSize="small"
        class="mt-3"
      >
        @for(postulant of selectedPostulants; track postulant.id) {
          <nz-list-item>
            {{postulant.postulant.name}} {{postulant.postulant.lastName}} ({{postulant.postulant.mothersLastName}})
          </nz-list-item>
        }
      </nz-list>
    </ng-container>
  </nz-modal>
</div>