<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>ALTA DEMANDA</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Postulacion" nzIcon="inbox">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/postulacion" >Postular</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Bandejas" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Bandeja de Entrada</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Bandeja de Registro</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Bandeja de seleccion</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Seguimiento" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
