<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>ALTA DEMANDA</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard"></li>
      <li nz-submenu nzOpen nzTitle="Postulacion" nzIcon="inbox">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/postulacion" >Postular</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Bandejas" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/main-inbox">Bandeja de Entrada</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/register-inbox/register">Bandeja de Registro</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/selection-inbox/selection">Bandeja de seleccion</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Seguimiento" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Configuración" nzIcon="setting"></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
        <div class="header-avatar-container">
          <nz-dropdown-menu nzPlacement="bottomRight">
            <div nz-dropdown>
              <nz-avatar [nzSrc]="'https://i.pravatar.cc/150?img=32'" ngSize="small" class="header-avatar"></nz-avatar>
            </div>
            <ul nz-menu>
              <li nz-menu-item>Perfil</li>
              <li nz-menu-item>Cerrar sesión</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
