<div class="dashboard-container">
  <div class="main-content">
    <div class="content-grid">
      <div>
          <div class="card">
              <div class="card-header">
                  <h2 class="card-title">Flujo del Proceso</h2>
              </div>
              <nz-timeline>
                @for(item of phase; track $index) {
                    <nz-timeline-item>
                    <div class="timeline-item" data-stage="postulacion-ue"
                        [class.active]="isTimelineItemActive(item.stage)"
                        (click)="changeStageFromTimeline(item.stage)"
                    >
                        <!-- [ngClass]="{ 'active': item.active }" -->
                        <div class="timeline-content">
                            <div class="timeline-title">{{ item.title }}</div>
                            <div class="timeline-date">{{ item.dateRange }}</div>
                            <div class="timeline-stats">
                                <div class="timeline-stat">
                                    <div class="timeline-stat-value">{{ item.applicants }}</div>
                                    <div class="timeline-stat-label">{{ item.labelApplicants }}</div>
                                </div>
                                <div class="timeline-stat">
                                    <div class="timeline-stat-value">{{ item.earrings }}</div>
                                    <div class="timeline-stat-label">{{ item.labelEarrings }}</div>
                                </div>
                                <div class="timeline-stat">
                                    <div class="timeline-stat-value">{{ item.percentage }}</div>
                                    <div class="timeline-stat-label">{{ item.labelPercentage }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </nz-timeline-item>
                }
              </nz-timeline>
          </div>
      </div>

      <div>
          <div class="stage-details">
              <div class="stage-header">
                  <div>
                      <div class="stage-title" id="stage-title">{{ currentStageData?.title}}</div>
                      <div class="stage-subtitle" id="stage-subtitle">{{ currentStageData?.subtitle }}</div>
                  </div>
                  <div class="stage-indicator"  id="stage-status">{{ currentStageData?.status }}</div>
              </div>

              <div class="charts-grid" id="charts-container">
                @for(chart of currentStageData?.charts; track $index) {
                    <div class="card-header">
                        <h3 class="card-title">{{ chart.title }}</h3>
                    </div>
                    <div class="chart-container">
                        <canvas [id]="'chart-' + chart.id"></canvas>
                    </div>
                }
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

