  <nz-card class="login-card" >
    <!-- nzHoverable -->
    <div class="card-header">Inicio de sesión</div>
    <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="userErrorTpl">
          <input
            nz-input
            formControlName="username"
            placeholder="Usuario"
            type="text"
          />
          <ng-template #userErrorTpl let-control>
            @if(control.hasError('required')) {
              <ng-container>
                El usuario es requerido
              </ng-container>
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              nz-input
              formControlName="password"
              placeholder="Contraseña"
              [type]="passwordVisible ? 'text' : 'password'"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            />
          </ng-template>
          <ng-template #passwordErrorTpl let-control>
            La contraseña es requerida
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        nzType="primary"
        nzBlock
        [nzLoading]="isLoginLoading"
        [disabled]="loginForm.invalid"
      >
        Iniciar sesión
      </button>
    </form>
  </nz-card>